body {
  background-color: orange;
}

.navbuttons {
  position: absolute;
  top: 30%;
  left: 40%;
}

.loginForm {
 position: fixed;
 left: 40%;
 top: 44%;
}

.forsurfers {
  font-family: 'Homemade Apple' ;
  font-size: 28px; 
  position: fixed;
  left: 52%;
  top: 33%;
}

.explanation-font {
  
  font-family: 'Special Elite' ;
}

.signup {
  position: fixed;
  top: 20%;
  left: 35%;
  background-color: rgba(255, 220, 160, 0.94);
  padding: 10px;
  border-radius: 5px;
}

.root-explanation {
  position: fixed;
  top: 26%;
  left: 30%;
}

.secondline {
  position: fixed;
  top: 29%;
  left: 33%;
}

.wave {
  width: 70px;
  position: absolute;
  left: 66%;
  top: 16%;
}

.title {
  font-size: 80px;
  font-family: 'Trade Winds';
  position: absolute;
  left: 30%;
  top: 4%

}

.top-image {
max-width: 100%;
max-height: 10%;
z-index: 10;
mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.image-size {
  max-width: 300px;
  max-height: 200px;
  
}

.thumbnail-name {
  font-size: 10px;
  font-weight: bold;
  background-color: rgba(230, 230, 225, 0.5);
}

.filter-input {
  padding: 20px;
}

.map-x {
  font-size: 20px;
  position: fixed;
  z-index: 40;
  right: 150px;
  top: 170px;
  color: purple;

}

.map-view {
  z-index: 30;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  height: 45%;
  margin-left: 5%;
  padding: 15px;
  top: 30%

}

.profile-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 2px;
  left: 120px;
  top: -30px;
}

.name-position {
  position: absolute;
  left: 125px;
  top: 40px;
}

.loggedinimage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  left: 450%;
  top: -380%
}

.loggedinusername {
  position: absolute;
  left: 490%;
  top: 10%
}

.picture-uploaded {
  max-width: 100%;
  height: auto;
  padding:1px;
  border:1px solid #021a40;
}

.text-color {
  color: darkslategray;
}

.card {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
}

.prof-box {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
  height: 50%;
  margin-left: 5%;
  background-color: rgba(255, 220, 160, 0.7);
  padding: 40px;
  border-radius: 5px;
}

.profile-positioning {
  position: absolute;
  left: 500%;
}

.user-font {
  font-size: 30px;
  font-family: 'Swanky and Moo Moo' ;
}

.main-position {
  position: absolute;
  top: 45%
}

.App {
  text-align: center;
}

.thumbnail-image {
  border-radius: 50%;
  max-width: 40px;
  
}
.thumbnails {
  position: absolute;
  z-index: 20;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
